<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />


	<f:for each="{photoboxes}" as="photobox">
	
		<div class="photobox-gallery">
		
			<h1>{photobox.category.title}</h1>
			<h3>{photobox.category.description}</h3>
		
			<f:for each="{photobox.images}" as="image">
				<a href="{image.bigImage.originalResource.publicUrl}">
					<img src="{image.thumbImage.originalResource.publicUrl}" title="{image.title}" width="200">
				</a>
			</f:for>
		
		</div>
		
	</f:for>

</f:section>