
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Image</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_skphotobox" >
	<tr>
		<th><f:translate key="tx_skphotobox_domain_model_image.thumb_image" /></th>
		<th><f:translate key="tx_skphotobox_domain_model_image.big_image" /></th>
		<th><f:translate key="tx_skphotobox_domain_model_image.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{images}" as="image">
		<tr>
			<td><f:link.action action="show" arguments="{image : image}"> {image.thumbImage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{image : image}"> {image.bigImage}</f:link.action></td>
			<td><f:link.action action="show" arguments="{image : image}"> {image.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{image : image}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{image : image}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Image</f:link.action>
</f:section>