
<table class="tx-sk-photobox" >
	<tr>
		<td>
			<f:translate key="tx_skphotobox_domain_model_image.title" />
		</td>
		<td>
		{image.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skphotobox_domain_model_image.thumb_image" />
		</td>
		<td>
				<f:image src="{image.thumbImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_skphotobox_domain_model_image.big_image" />
		</td>
		<td>
				<f:image src="{image.bigImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>